body {
   margin-top: 100px;
}

h1,
h2,
h3,
h4, 
h5 {
   color:#000 !important;
   font-weight: 300;
   font-family: 'open sans', sans-serif;
}

p{
   color: #000;
   font-weight: 300;
   font-family: 'open sans', sans-serif;
}

.logo {
   box-shadow: 0px 4px 6px 2px #c5cae9;
   border-radius: 50%;
}

.m-t-1 {
   margin-top: 1em;
}

.p-t-1 {
   padding-top: 1em;
}

.about {
   margin-top: 25px;
}

/* designelement */
.row-primary {
   background-color: #75a6ea;
	-webkit-clip-path: polygon(0 0%, 100% 4%, 100% 96%, 0% 100%);
	clip-path: polygon(0 0%, 100% 4%, 100% 96%, 0% 100%);
   padding: 65px 10px;
}

.row-secondary {
   padding: 65px 10px;
}

.row-footer {
   padding: 65px 10px;
}

.work-item-row {
   padding: 10% 0;
}

.row-tools {
   padding: 50px 0;
}

.bnt-launch {
   width: 100%;
   max-width: 200px;
   background-color: #607D8B;
   color: #212121;
   box-shadow: 0px 2px 5px 1px #BDBDBD;
}

.btn-launch:hover,
.btn-launch:focus {
   color:#212121;
   background: #465B66;
}

.techlogo{
   width: 100px;
}